[submodule "simter-parent"]
	path = simter-parent
	url = git@github.com:simter/simter-parent.git
[submodule "simter-context"]
	path = simter-context
	url = git@github.com:simter/simter-context.git
[submodule "simter-jwt"]
	path = simter-jwt
	url = git@github.com:simter/simter-jwt.git
[submodule "simter-json"]
	path = simter-json
	url = git@github.com:simter/simter-json.git
[submodule "simter-genson-ext"]
	path = simter-genson-ext
	url = git@github.com:simter/simter-genson-ext.git
[submodule "simter-http"]
	path = simter-http
	url = git@github.com:simter/simter-http.git
[submodule "simter-util"]
	path = simter-util
	url = git@github.com:simter/simter-util.git
[submodule "simter-security"]
	path = simter-security
	url = git@github.com:simter/simter-security.git
[submodule "simter-meta"]
	path = simter-meta
	url = git@github.com:simter/simter-meta.git
[submodule "simter-meta-jpa"]
	path = simter-meta-jpa
	url = git@github.com:simter/simter-meta-jpa.git
[submodule "simter-core"]
	path = simter-core
	url = git@github.com:simter/simter-core.git
[submodule "simter-jpa-ext"]
	path = simter-jpa-ext
	url = git@github.com:simter/simter-jpa-ext.git
[submodule "simter-rest-jaxrs"]
	path = simter-rest-jaxrs
	url = git@github.com:simter/simter-rest-jaxrs.git
[submodule "simter-rest-jaxrs-jersey"]
	path = simter-rest-jaxrs-jersey
	url = git@github.com:simter/simter-rest-jaxrs-jersey.git
[submodule "simter-demo"]
	path = simter-demo
	url = git@github.com:simter/simter-demo.git
