[submodule "simter-parent"]
	path = simter-parent
	url = git@github.com:simter/simter-parent.git
[submodule "simter-context"]
	path = simter-context
	url = git@github.com:simter/simter-context.git
[submodule "simter-jwt"]
	path = simter-jwt
	url = git@github.com:simter/simter-jwt.git
[submodule "simter-json"]
	path = simter-json
	url = git@github.com:simter/simter-json.git
[submodule "simter-genson-ext"]
	path = simter-genson-ext
	url = git@github.com:simter/simter-genson-ext.git
[submodule "simter-http"]
	path = simter-http
	url = git@github.com:simter/simter-http.git
[submodule "simter-util"]
	path = simter-util
	url = git@github.com:simter/simter-util.git
[submodule "simter-security"]
	path = simter-security
	url = git@github.com:simter/simter-security.git
[submodule "simter-meta"]
	path = simter-meta
	url = git@github.com:simter/simter-meta.git
[submodule "simter-meta-jpa"]
	path = simter-meta-jpa
	url = git@github.com:simter/simter-meta-jpa.git
[submodule "simter-core"]
	path = simter-core
	url = git@github.com:simter/simter-core.git
[submodule "simter-jpa-ext"]
	path = simter-jpa-ext
	url = git@github.com:simter/simter-jpa-ext.git
[submodule "simter-rest-jaxrs"]
	path = simter-rest-jaxrs
	url = git@github.com:simter/simter-rest-jaxrs.git
[submodule "simter-rest-jaxrs-jersey"]
	path = simter-rest-jaxrs-jersey
	url = git@github.com:simter/simter-rest-jaxrs-jersey.git
[submodule "simter-test"]
	path = simter-test
	url = git@github.com:simter/simter-test.git
[submodule "simter-id"]
	path = simter-id
	url = git@github.com:simter/simter-id.git
[submodule "simter-template"]
	path = simter-template
	url = git@github.com:simter/simter-template.git
[submodule "simter-scheduling"]
	path = simter-scheduling
	url = git@github.com:simter/simter-scheduling.git
[submodule "simter-jxls-ext"]
	path = simter-jxls-ext
	url = git@github.com:simter/simter-jxls-ext.git
[submodule "simter-dependencies"]
	path = simter-dependencies
	url = git@github.com:simter/simter-dependencies.git
[submodule "simter-mongo-ext"]
	path = simter-mongo-ext
	url = git@github.com:simter/simter-mongo-ext.git
[submodule "simter-exception"]
	path = simter-exception
	url = git@github.com:simter/simter-exception.git
[submodule "simter-reactive-context"]
	path = simter-reactive-context
	url = git@github.com:simter/simter-reactive-context.git
[submodule "simter-reactive-web"]
	path = simter-reactive-web
	url = git@github.com:simter/simter-reactive-web.git
[submodule "simter-reactive-security"]
	path = simter-reactive-security
	url = git@github.com:simter/simter-reactive-security.git
[submodule "simter-jackson-ext"]
	path = simter-jackson-ext
	url = git@github.com:simter/simter-jackson-ext.git
[submodule "simter-query"]
	path = simter-query
	url = git@github.com:simter/simter-query
[submodule "simter-r2dbc-ext"]
	path = simter-r2dbc-ext
	url = git@github.com:simter/simter-r2dbc-ext.git
